.section {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 100px;
}

.trackList {
  width: 50%;
}

@media only screen and (max-width: 1199px) {
  .trackList {
    width: 100%;
  }
}

.track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  margin: 20px;

}

.trackInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trackName {
  margin-bottom: 0.22rem;
}

.trackArtist {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  }

  .button:hover {
    color: rgba(265, 265, 265, .5);
  }
