.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.7s;
    position: absolute;
    padding: 16px 24px;
    width: calc(100% - 240px);
    left: 240px;
    border-bottom: 1px solid #212529;
    background: #070707;
}

.ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.li {
    margin-right: 40px;
}
